apiVersion: v2
type: application
name: beam
description: Secure infrastructure access
icon: https://avatars.githubusercontent.com/u/889755?s=200&v=4
home: https://www.foomo.org
keywords:
  - foomo
  - pinniped
  - cloudflared
sources:
  - https://github.com/foomo/helm-charts
annotations:
  "artifacthub.io/links": |
    - name: Chart Source
      url: https://github.com/foomo/helm-chartstree/main/charts/beam
    - name: Pinniped Chart Source
      url: https://github.com/bitnami/charts/tree/main/bitnami/pinniped/
dependencies:
  # https://artifacthub.io/packages/helm/bitnami/pinniped
  - name: pinniped
    alias: pinniped
    version: 2.4.23
    repository: "oci://registry-1.docker.io/bitnamicharts"
    condition: pinniped.enabled
version: 0.6.3
appVersion: 0.6.3

