.*
*.log
*.pid
*.retry
*.out
*.tgz
*.zip
*.pem
bin/
tmp/

## Git
!.gitkeep
!.gitignore
!.gitattributes

## GitHub
!.github/

## Helm
Chart.lock
!.helmignore

## VSCode
!.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json

## Editorconfig
!.editorconfig

## Mise
!.mise.toml

## Lefthook
!.lefthook.yaml
